

table{
    border-collapse: collapse;
}

.box{
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 10px;
}

.box-header,.box-body{
    padding: 1rem;
}

.box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}

thead td {
    font-weight: 700;
}

td{
    padding: .5rem;
    font-size: .9rem;
    color: #222;
    
}

.customer{
    border-bottom: 2px solid #f0f0f0;
    padding: .5rem 1rem;
}

.customer p{
    margin-bottom: 0;
}