

table{
    border-collapse: collapse;
}

.box{
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 10px;
}

.box-header,.box-body{
    padding: 1rem;
}

.box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-header button{
    border: none;
    background-color: #55ff55a1;
    color: var(--green-text-btn);
    padding: 10px 20px;
    width: 45%;
}

thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}

thead td {
    font-weight: 700;
}

td{
    padding: .5rem;
    font-size: .9rem;
    color: #222;
    
}

tbody tr{
    border-bottom: 2px solid #f0f0f0;
}

tbody tr:last-child{
    border-bottom: none;
}

.customer{
    border-bottom: 2px solid #f0f0f0;
    padding: .5rem 1rem;
}

.customer p{
    margin-bottom: 0;
}
.user-item{
    display: flex;
    align-items: center;
}

.user-item img{
    width: 60px;
    height: 60px;
}

.user-item div{
    margin-left: 10px;
}

.user-item div h5{
    font-size: 16px;
    margin-bottom: 0;
    text-align: start;
}

.user-item div h6{
    font-size: 12px;
    color: #949393;
    margin-bottom: 0;
    text-align: start;
}

.action{
    position: relative;
}

.action a{
    color: #000;
}

.action i,
.action svg{
    cursor: pointer;
}

.action-list{
    position:absolute;
    background-color: rgb(252, 250, 250);
    padding: 1rem;
    border: 1px solid rgb(233, 225, 225);
}

/* .action-list.show{
    display: flex;
} */

.action-list li{
    list-style: none;
    padding:.4rem 0;
    display: inline-block;
}

.zom-a{
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.action-list li button{
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    font-size: 14px;
}

/* .action-list li button:hover{
    color: var(--text-link);
} */

.action-list li button i,
.action-list li button svg{
    margin-right: 5px;
}

